@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Special+Elite&display=swap');


* {
    box-sizing: border-box;
 
}

body{
font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;

}

#sheet{
    font-family: 'Orbitron' , sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  background-color: #3e0c70;
  z-index: 10000;
  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;
     transition: transform 1s ease ;
     pointer-events: all;
     color: white;
     font-size: 2rem;
}

.sheet-up{
    transform: translateY(-100%);
    pointer-events: none;
}
#intro1, #intro2{
  align-self: center;
    height: 600px;
    width: 600px;
    -webkit-user-drag: none;
    transition: opacity 1s ease;
}

.invisible {
    opacity: 0;
}
.cannotclick{
    pointer-events: none;
    user-select: none;
}

body {
    background-color: #e1cef3;
    
}
#intro2{
display: none;


}

#commence{
display: none;
z-index: 1000;
border-radius: 50px;
border: white solid 3px;
box-shadow: #000000 3px 3px;
color: white;
background-color:#3e0c70;
margin-left: 160px;
font-size: 2rem;
 padding: 10px;
transition: opacity 0.2s ease;
font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;

}

#commence:hover{
border: black solid 3px;
box-shadow:#3e0c70 10px 10px;
color: black;
background-color:white;
}

#click::after {
    content: "|";
    color: #000000; 
    animation: cursor-blink 1s step-end infinite;
}

@keyframes cursor-blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

a{ 
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px;
}


#click{
padding-right: 160px;
font-size:2rem ;

}

#fone{
width: 400px;
height: 600px;
align-self: center;
justify-self: center;


}

.align{

    display: flex;
    align-items: center;
    justify-content: center;
}